.doctor-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
}

.button-style{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 1px solid #8e44ad;
    text-decoration: none;
}

.button-style:hover {
    background-color: #8e44ad;
    color: #fff;
}



@media only screen and (max-width:768px) {
    .doctor-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        

    }
    
}
